/* Footer */

.footer {
	margin-top: auto;
	padding: 10px 0 10px;
	background-color: var(--footer-bg);
	color: var(--footer-text);
}

.footer_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 14px 30px;
}

.social {
	display: flex;
	column-gap: 18px;
}

.copyright {
	font-size: 16px;
}

@media (max-width: 560px) {
	.footer_wrapper {
		flex-direction: column;
	}
}
